.container-center {
    max-width: 900px;
    margin: auto;
}

.navbar-brand img {
    width: 30px;
    height: auto;
    margin-right: 8px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-brand, .navbar-toggler {
    margin: auto;
}