body {
    background-color: #dcdfe1;
}
.custom-navbar {
    background: linear-gradient(to right, #141E30, #243B55); 
    padding: 5px 20px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}

.dataTables_paginate .paginate_button:focus,
.dataTables_paginate .paginate_button:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.dataTables_paginate .paginate_button {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}

.paginate_button page-item {
    border-radius: 5% !important;
}

.dataTables_paginate .paginate_button:hover {
    background-color: transparent; 
    color: #091d28 !important;
}

.page-link{
    border-radius: 10%;
}


.custom-navbar .navbar-brand {
    margin-right: 30px; 
}

.custom-navbar .navbar-brand img {
    height: 35px; 
}


.custom-navbar .navbar-nav {
    display: flex;
    gap: 5px; 
    margin-left: 10px;
}

.custom-navbar .container {
    max-width: 100%; 
    padding-left: 10px; 
    padding-right: 20px; 
    margin: 0; 
}

.custom-navbar .navbar-nav .nav-link {
    color: #FFFFFF; 
    font-size: 14px;
    font-weight: 500; 
    padding: 3px 8px;
    border-radius: 20px; 
    text-transform: uppercase;
    text-decoration: none; 
    transition: all 0.3s ease-in-out;
}

.custom-navbar .navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #FFFFFF; 
}

.custom-navbar .nav-item.active .nav-link {
    background-color: transparent; 
    color: #FFFFFF; 
    font-weight: 500; 
    text-decoration: underline; 
    text-underline-offset: 3px; 
    transition: all 0.3s ease-in-out; 
}

.custom-navbar .navbar-toggler {
    border: none;
}

.custom-navbar .navbar-toggler-icon {
    background-color: #FFFFFF; 
    height: 3px;
    width: 25px;
    display: block;
    position: relative;
    border-radius: 2px;
}

.custom-navbar .navbar-toggler-icon::before,
.custom-navbar .navbar-toggler-icon::after {
    content: '';
    background-color: #FFFFFF;
    height: 3px;
    width: 25px;
    position: absolute;
    left: 0;
    border-radius: 2px;
}

.custom-navbar .navbar-toggler-icon::before {
    top: -8px;
}

.custom-navbar .navbar-toggler-icon::after {
    top: 8px;
}

.container-center h2 {
    color: #2c3e50;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
}

#dataTableContent {
    border: 2px solid #2c3e50; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
}

#dataTableContent thead th {
    background-color: #34495e; 
    color: #ecf0f1; 
    font-weight: bold; 
    text-align: center; 
}

#dataTableContent th,
#dataTableContent td {
    text-align: center; 
    vertical-align: middle; 
    border: none; 
}

#dataTableContent tbody tr {
    background-color: #f9f9f9; 
    transition: background-color 0.3s ease; 
}

#dataTableContent tbody tr:hover {
    background-color: #eaeaea; 
}


#dataTableContent tbody tr {
    border-bottom: 1px solid #ddd; 
}


#dataTableContent tbody tr:last-child {
    border-bottom: none;
}


.btn-view {
    background-color: #2980b9;
    color: #fff;
}
.btn-edit {
    background-color: #48a490;
    color: #fff;
}
.btn-delete {
    background-color: #e74c3c;
    color: #fff;
}



.modal-header {
    background-color: #2c3e50;
    color: #ecf0f1;
    border-bottom: none;
}

.modal-header .close {
    color: #ecf0f1; 
    font-size: 1.5rem; 
    opacity: 1; 
    text-shadow: none; 
    transition: all 0.3s ease; 
}

.modal-header .close:hover {
    color: #e74c3c;
    opacity: 1; 
    transform: scale(1.1); 
}

.modal-content {
    border-radius: 10px;
}
.modal-footer {
    border-top: none;
}
.modal-body {
    padding: 20px 30px;
}
.modal-body .form-control {
    border-radius: 5px;
}

.navbar-nav .nav-item.dropdown .nav-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    color: #FFFFFF; 
}

.navbar-nav .nav-item.dropdown .nav-link i {
    font-size: 15px; 
    color: #f6f6f6; 
}

.navbar-nav .nav-item.dropdown .nav-link:hover i {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #2c3e50; 
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 15px; 
}
.dropdown-menu .dropdown-item p,
.dropdown-menu .dropdown-item img {
    color: white; 
}

#user-email,
#user-name {
    color: white !important; 
}

#user-info {
    background-color: transparent; 
    color: #ecf0f1; 
    font-size: 14px; 
    padding: 10px; 
}

.dropdown-item:hover {
    background-color: #34495e; 
    color: #ecf0f1; 
}

.custom-select {
    width: 55px !important; 
}

.dtr-control::before {
    background-color: #34495e !important;
    border: .1em solid white !important;
    margin-left: .1em !important;
}

.role-section {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.role-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.role-section-header h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.toggle-icon {
    font-size: 18px;
    color: #007bff;
    transition: transform 0.3s ease;
}

.role-section-body {
    margin-top: 10px;
    padding-top: 10px;
}

.role-section-header i.rotate {
    transform: rotate(180deg);
}